[Unit]
Description=users
After=multi-user.target

[Service]
Type=idle
#EDIT THE PATH TO YOUR USERS.PY DIRECTORY
ExecStart=/usr/bin/python3 /home/pi/home_automation/users.py

[Install]
WantedBy=multi-user.target
